@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-weight: normal;
}

h1 {
  font-family: "PT Serif", serif;
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 10px;
}

p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

a:link,
a:visited {
  text-decoration: none;
  color: #333;
}

a:hover,
a:active {
  color: #ec4646;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 70px 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* Header */
.content {
  width: 45%;
  padding: 10px;
}

.content h2 {
  text-transform: uppercase;
}

.content p {
  width: 90%;
}

/* Gallery */
.gallery {
  margin-bottom: 40px;
}

.gallery .container {
  padding: 40px 30px;
}

.gallery .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.card {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
}

.card p {
  position: absolute;
  top: 0;
  right: 45px;
  writing-mode: vertical-lr;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.card img {
  max-width: 80%;
}

.card-2,
.card-5 {
  margin-top: 100px;
}

footer {
  position: relative;
  bottom: 10px;
  padding: 10px;
  text-align: center;
}

.lead {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Tablet and below */
@media (max-width: 768px) {
  .container {
    padding: 40px 12px 10px 12px;
  }
  .flex {
    flex-direction: column;
  }
  .title {
    margin-bottom: 40px;
  }
  .content {
    width: 100%;
  }
  .content p {
    width: 100%;
    font-size: 14px;
    line-height: 21px;
  }
  /* gallery */
  .gallery .container {
    padding-top: 20px;
  }
  .gallery .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    row-gap: 10px;
  }
  .card-5 {
    margin: 0;
  }
  .card-2,
  .card-4,
  .card-6 {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  .card p {
    right: 10px;
  }
}
